/*  Css Media Queries  */

/*

Some common breakpoints for CSS media queries include:
1920 x 1080: A popular resolution
1366 x 768: A popular resolution
360 x 640: A popular resolution
414 x 896: A common resolution
1536 x 864: A common resolution
375 x 667: A common resolution 

You can also use breakpoints based on device size, such as:
Extra small: Phones, 600 pixels and down
Small: Portrait tablets and large phones, 600 pixels and up
Medium: Landscape tablets, 768 pixels and up
Large: Laptops and desktops, 992 pixels and up
Extra large: Large laptops and desktops, 1200 pixels and up 

*/