/* color variables */

$color-1:#f00;
$color-2:#0f0;
$color-3:#00f;
$color-4:#af0;
$color-5:#f0f;
$color-6:#ff0;
$color-7:#0ff;
$color-8:#afa;
$color-9:#fa0;
$color-10:#aa0;

/* bg-color variables */

$bg-color-1:#f00;
$bg-color-2:#0f0;
$bg-color-3:#00f;
$bg-color-4:#af0;
$bg-color-5:#f0f;
$bg-color-6:#ff0;
$bg-color-7:#0ff;
$bg-color-8:#afa;
$bg-color-9:#fa0;
$bg-color-10:#aa0;