
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* CSS Pseudo Class */

/* h1:first-child{
    background-color: blue;
    color:white;
} */

/* h1:last-child{
    background-color: blue;
    color:white;
} */

h1:first-of-type{
    background-color: green;
    color:white;
    border:2px solid black;
}

/* h1:last-of-type{
    background-color: green;
    color:white;
    border:2px solid black;
} */

/* h1:nth-child(3){
    background-color: green;
    color:white;
    border:2px solid black;
} */

/* h1:nth-child(15){
    background-color: green;
    color:white;
    border:2px solid black;
} */

/* h1:nth-of-type(9){
    background-color: green;
    color:white;
    border:2px solid black;
} */

/* h1:nth-last-of-type(4){
    background-color: green;
    color:white;
    border:2px solid black;
} */

/* h1:nth-last-child(5){
    background-color: green;
    color:white;
    border:2px solid black;
} */
