/*Flex-direction  : row */

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* .textCenter{
    text-align: center;
}
h1{
    font-size: 20px;
    color: #5008f8;
} */
/* .maindiv{
    display: flex;
    flex-direction: row;
    border: 2px solid black; */
    /* height: 500px; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center;
}*/
/* .div-1{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
}
.maindiv div:nth-child(1){
    background-color: black;
}
.maindiv div:nth-child(2){
    background-color: blueviolet;
}
.maindiv div:nth-child(3){
    background-color: palevioletred;
}
.maindiv div:nth-child(4){
    background-color: goldenrod;
}
.maindiv div:nth-child(5){
    background-color: burlywood;
}
.maindiv div:nth-child(6){
    background-color: red;
} */


/*Flex-direction  : row reverce */


/* .textCenter{
    text-align: center;
}
h2{
    font-size: 20px;
    color: #5008f8;
}
.maindiv{
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid black;
    height: 500px; */
    /* flex-wrap: nowrap; */
     /* flex-wrap: wrap;  */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; 


}*/
/* .div-1{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
}
.maindiv div:nth-child(1){
    background-color: black;
    order: 1;
}
.maindiv div:nth-child(2){
    background-color: blueviolet;
    order: 6;
}
.maindiv div:nth-child(3){
    background-color: palevioletred;
    order: 3;
}
.maindiv div:nth-child(4){
    background-color: goldenrod;
    order: 4;
}
.maindiv div:nth-child(5){
    background-color: burlywood;
    order: 5;
}
.maindiv div:nth-child(6){
    background-color: red;
    order: 2;
} */


/*Flex-direction  : Column */


/* .textCenter{
    text-align: center;
}
h3{
    font-size: 20px;
    color: #5008f8;
}
.maindiv{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 700px; */
    /* flex-wrap: nowrap; */
     /* flex-wrap: wrap;  */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center;


}*/
/* .div-1{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
}
.maindiv div:nth-child(1){
    background-color: black;
    order: 1;
}
.maindiv div:nth-child(2){
    background-color: blueviolet;
    order: 2;
}
.maindiv div:nth-child(3){
    background-color: palevioletred;
    order: 3;
}
.maindiv div:nth-child(4){
    background-color: goldenrod;
    order: 4;
}
.maindiv div:nth-child(5){
    background-color: burlywood;
    order: 5;
}
.maindiv div:nth-child(6){
    background-color: red;
    order: 6;
} */



/*Flex-direction  : Column reverce*/


/* .textCenter{
    text-align: center;
}
h4{
    font-size: 20px;
    color: #5008f8;
} */
/* .maindiv{
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid black;
    height: 900px;
    /* flex-wrap: nowrap; */
     /* flex-wrap: wrap;  */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center;


} */
/* .div-1{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
}
.maindiv div:nth-child(1){
    background-color: black;
    order: 5;
}
.maindiv div:nth-child(2){
    background-color: blueviolet;
    order: 2;
}
.maindiv div:nth-child(3){
    background-color: palevioletred;
    order: 3;
}
.maindiv div:nth-child(4){
    background-color: goldenrod;
    order: 4;
}
.maindiv div:nth-child(5){
    background-color: burlywood;
    order: 1;
}
.maindiv div:nth-child(6){
    background-color: red;
    order: 6;
} */


/* Justify Content Properties */

.flex-start {
    justify-content: flex-start;

}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}

/* Align Item Properties */

.alignStart {
    align-items: flex-start;
    height: 400px;
}

.alignEnd {
    align-items: flex-end;
    height: 400px;
}

.alignCenter {
    align-items: center;
    height: 400px;
}

/* Flex Direction Column Justify Content Behaviour */

.columnJustifyStart {
    height: 1000px;
    justify-content: flex-start;
}

.columnJustifyEnd {
    height: 1000px;
    justify-content: flex-end;
}

.columnJustifyCenter {
    height: 1000px;
    justify-content: center;
}

.columnJustifySpaceBetween {
    height: 1000px;
    justify-content: space-between;
}

.columnJustifySpaceEvenly {
    height: 1000px;
    justify-content: space-evenly;
}

.columnJustifySpaceAround {
    height: 1000px;
    justify-content: space-around;
}

/* Flex Direction Column Align Items Behaviour */

.columnAlginStart {
    align-items: flex-start;
}

.columnAlginEnd {
    align-items: flex-end;
}

.columnAlginCenter {
    align-items: center;
}

.flex div:nth-child(1) {
    /* order: 5; */
    background-color: blueviolet;
}

.flex div:nth-child(2) {
    background-color: #e6394763;
}
.flex div:nth-child(3) {
    /* order: 1; */
    background-color: palegreen;
}
.flex div:nth-child(4) {
    background-color:palevioletred;
}
.flex div:nth-child(5) {
    /* order: 3; */
    background-color: rgb(192, 14, 192);
}


