.border{
    height: 300px;
    width: 300px;
    background-color: gray;
    border: 5px solid black;
    border-radius: 20px;
    border-radius: 20px 50px;
    border-radius: 20px 50px 80px;
    border-radius: 20px 60px 100px 150px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-radius: 100%;
}