/* Css Grids */

.maingrid{
    display: grid;
    /* display: inline-grid; */
    grid-template-columns:repeat(4 , auto);
    grid-template-rows:200px 200px 200px;
    gap:20px;
}

.g-1{
    grid-row-start: 1;
    grid-row-end: 4;
}

.g-2{
    grid-column-start: 2;
    grid-column-end: 4;
}

.g-6{
    grid-column-start:4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.maingrid div{
    border:1px solid red;
    font-size: 40px;
}