/* *{
    box-sizing: border-box;
}

body{
    margin: 0;
} */

/* a:first-child{
    color: red;
    background-color: yellow;
}
a:nth-child(4){
    color: red;
    background-color: yellow;
} 
h1:nth-of-type(2){
    color: red;
    background-color: yellow;
}
div:nth-child(1) {
    background-color: yellow;
    color: red;
}

 input:first-child{
    color:red;
    background-color: yellow;
}

div:nth-child(1) h1:nth-of-type(1){
    color:red;
    background-color: yellow;
} */

/* div:nth-child(1) h1:nth-of-type(1){
    color:red;
    background-color: yellow;
} */

/* p:nth-last-child(1){
    color: red;
    background-color: yellow;
} */

h1:nth-of-type(2){
    color: red;
    background-color: yellow;
}