/* Task 1 */

.h1{
    background-color: aquamarine;
}

.v1{
    background-color: black;
    text-align: center;
    color: white;
}

.button{
    display: flex;
    justify-content: space-evenly;
}

.b1{
    background-color: blue;
    color: white;
}
.b2{
    background-color: blue;
    color: white;
}

/* Task 2 */
.h2{
    background-color: aquamarine;
}
.heading{
    background-color: black;
    text-align: center;
    color: white;
}
.btn{
    display: flex;
    justify-content: space-between;
}

.btn1{
    background-color: blue;
    color: white;
}

.btn2{
    background-color: blue;
    color: white;
}

.btn3{
    background-color: blue;
    color: white;
}

.btn4{
    background-color: blue;
    color: white;
}

/* Task 3 */

.h3{
    background-color: aquamarine;
}

.v3{
    background-color: black;
    text-align: center;
    color: white;
}

.butn{
    display: flex;
    justify-content: space-evenly;
}
.butn1{
    background-color: blue;
    color: white;
}
.butn2{
    background-color: blue;
    color: white;
}

/*Task 4*/

.h4{
    background-color: aquamarine;
}
.head{
    background-color: black;
    text-align: center;
    color: white;
}
.buttn{
    display: flex;
    justify-content: space-between;
}

.buttn1{
    background-color: blue;
    color: white;
}

.buttn2{
    background-color: blue;
    color: white;
}

.buttn3{
    background-color: blue;
    color: white;
}

.buttn4{
    background-color: blue;
    color: white;
}