* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .img1{
    width: 100%;
    height:100%;

  }
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  h1, h2 {
    margin: 0;
  }