*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.maindiv{
    height: 800px;
    width: 800px;
    background-color: yellowgreen;
    border: 2px solid black;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
}
.box-1{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    left: 0;
    top: 0;
}
.item-1{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    left: 0;
    top: 0;

}


.Box-2{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
}
.item-2{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
}

.Box-3{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    
}
.item-3{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
}

.box-4{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    left: 300px;
    position: absolute;
}
.item-4{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    left:40px;
    position: absolute;
    
}

.Box-5{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    left: 300px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.item-5{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.box-6{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 300px;
}
.item-6{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 40px;
}

.Box-7{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    right: 0;
}
.item-7{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    right: 0;
}

.Box-8{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.item-8{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.Box-9{
    height: 150px;
    width: 150px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    right: 0;
}
.item-9{
    height: 70px;
    width: 70px;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    right: 0;
}



