.maingrid{
    display: grid;
    grid-template-columns:300px 300px 300px 300px;
    grid-template-rows:200px 200px 200px 200px ;
    gap:20px;
}
.maingrid div{
    border:1px solid gray;
    font-size: 40px;
    text-align: center;
}   
.g-1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    background-color: orange;
}
.g-2{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: orange;
}
.g-3{
    background-color: orange;
}
.g-4{
    background-color: orange;
}
.g-5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:3 ;
    grid-row-end: 5;
    background-color: aqua;
}

.g-6{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: aqua;
}
.g-7{
    background-color: aqua;
}
.g-8{
    background-color: aqua;
}
