*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.static{
    height: 500px;
    width: 500px;
    background-color:navajowhite;
    border: 3px solid black;
    position: relative;
    margin: 150px auto;
    font-size: large;
    justify-content: center;
    z-index: 2;
}

.static img{
    width: 200px;
    position: absolute;
    border-radius: 50%;
    top: -100px;
    left: 150px;
    z-index: 2;
}

.static h3{
    position: absolute;
    top: 150px;
    z-index: 2;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

