/* height variables */

$h_1:100px;
$h_2:200px;
$h_3:300px;
$h_4:400px;
$h_5:500px;

/* width variables */

$w_1:100px;
$w_2:200px;
$w_3:300px;
$w_4:400px;
$w_5:500px;

/* color variables */

$color-1:#f00;
$color-2:#0f0;
$color-3:#00f;
$color-4:#af0;
$color-5:#f0f;
$color-6:#ff0;
$color-7:#0ff;
$color-8:#afa;
$color-9:#fa0;
$color-10:#aa0;

/* flexbox variables */

$flex-shrink-1:1;
$flex-shrink-2:2;
$flex-shrink-3:3;
$flex-shrink-4:4;
$flex-shrink-5:5;

$flex-grow-1:1;
$flex-grow-2:2;
$flex-grow-3:3;
$flex-grow-4:4;
$flex-grow-5:5;

$flex-basis-1:100px;
$flex-basis-2:200px;
$flex-basis-3:300px;
$flex-basis-4:400px;
$flex-basis-5:500px;

/* bg-color variables */

$bg-color-1:#f00;
$bg-color-2:#0f0;
$bg-color-3:#00f;
$bg-color-4:#af0;
$bg-color-5:#f0f;
$bg-color-6:#ff0;
$bg-color-7:#0ff;
$bg-color-8:#afa;
$bg-color-9:#fa0;
$bg-color-10:#aa0;

/* font variables */

$fs-1:12px;
$fs-2:16px;
$fs-3:18px;
$fs-4:24px;
$fs-5:28px;
$fs-6:34px;
$fs-7:38px;
$fs-8:42px;

/* flex-container variables */

$flex:flex;
$flex-dr:row;
$flex-drr:row-reverse;
$flex-dc:column;
$flex-dcr:column-reverse;
$justify-start:flex-start;
$justify-end:flex-end;
$justify-center:center;
$justify-evenly:space-evenly;
$justify-around:space-around;
$justify-between:space-between;
$align-start:flex-start;
$align-end:flex-end;
$align-center:center;
$flex-warp:wrap;
$flex-no-warp:nowrap;
$flex-warp-r:wrap-reverse;