/*css position properties*/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/*position-static*/

/* .static-1{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 2px solid black;
    position: static;
}

.static-2{
    height: 200px;
    width: 200px;
    background-color:blue ;
    border: 2px solid black;
    position: static;
} */


/*position-fixed*/
/* .static-1{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 2px solid black;
    position: static;
}

.static-2{
    height: 100px;
    width: 200px;
    width: 100%;
    background-color:blue ;
    border: 2px solid black;
    position: fixed;
     top: 0;
     bottom: 0;
    margin: auto;
    top: 100px;
}  */


/*position-stickey*/
/* .static-1{
    height: 200px;
    width: 200px;
    background-color: green;
    border: 2px solid black;
    position: static;
}

.static-2{
    height: 200px;
     width: 200px; 
    width: 100%;
    background-color:blue ;
    border: 2px solid black;
    position: sticky;
    top: 100px;
}  */


/*position-Absolute/relative*/
.static-1{
    height: 600px;
    width: 600px;
    background-color: green;
    border: 2px solid black;
    position: relative;
}

.static-2{
    height: 200px;
    width: 200px;
    background-color:blue ;
    border: 2px solid black;
    position: absolute;
    top: 0; 
    /* left: 0;  */
    /* right: 0; */
    /* bottom: 0;
    right: 0;
    left: 0; */
    margin: auto;
    inset: 0; 
}

/*Z-Index properties*/
/* .static-1{
    height: 600px;
    width: 600px;
    background-color: green;
    border: 2px solid black;
    position: relative;
} */

/* .static-2{
    height: 200px;
    width: 200px;
    background-color:blue ;
    border: 2px solid black;
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0;
    right: 0;
    left: 0; 
    inset: 0; 
    top: 0; 
    margin: auto;
    z-index: 2;
} */

/* .static-3{
    height: 200px;
    width: 200px;
    background-color:orange ;
    border: 2px solid black;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    inset: 0; 
    top: 100px;
    left: 100px;
    margin: auto;
    z-index: 2;
} */