/* flex-container variables */

$flex:flex;
$flex-dr:row;
$flex-drr:row-reverse;
$flex-dc:column;
$flex-dcr:column-reverse;
$justify-start:flex-start;
$justify-end:flex-end;
$justify-center:center;
$justify-evenly:space-evenly;
$justify-around:space-around;
$justify-between:space-between;
$align-start:flex-start;
$align-end:flex-end;
$align-center:center;
$flex-warp:wrap;
$flex-no-warp:nowrap;
$flex-warp-r:wrap-reverse;

/* flexbox variables */

$flex-shrink-1:1;
$flex-shrink-2:2;
$flex-shrink-3:3;
$flex-shrink-4:4;
$flex-shrink-5:5;

$flex-grow-1:1;
$flex-grow-2:2;
$flex-grow-3:3;
$flex-grow-4:4;
$flex-grow-5:5;

$flex-basis-1:100px;
$flex-basis-2:200px;
$flex-basis-3:300px;
$flex-basis-4:400px;
$flex-basis-5:500px;